[2020-05-17 16:36] NetanelBasal opened #1 "Extract the copied functionality to reusable functions"

[2020-05-17 16:37] NetanelBasal opened #2 "Test the types with https://github.com/Microsoft/dtslint"

[2020-05-17 16:37] NetanelBasal opened #3 "Create a schematics command that converts from angular imports to ours"
Convert `import from '@angular/forms'` to `@ngneat/reactive-forms`

[2020-05-17 16:38] NetanelBasal opened #4 "Create a eslint rule that forbids import from @angular/forms"

[2020-05-17 16:41] NetanelBasal opened #5 "Suggest extra APIs"

[2020-05-17 18:49] NetanelBasal opened #6 "Errors API"
- `hasError` - typed?
- `getError` - typed?
- `errorsChanges$`?

Maybe expose something such as:

[code]

Instead of:

[code]

[2020-05-18 09:16] #6 closed, assigned to nobody

[2020-05-19 08:31] #4 closed, assigned to Coly010

[2020-05-19 15:09] #5 closed, assigned to nobody

[2020-05-19 19:30] NetanelBasal opened #10 "Add type for boxed value"
`new FormControl({ disabled: true, value: '' })`

[2020-05-20 09:57] #10 closed, assigned to nobody

[2020-05-20 13:10] #1 closed, assigned to danzrou

[2020-05-24 13:46] #2 closed, assigned to itayod

[2020-05-25 14:12] NetanelBasal opened #18 "Imports"
@Coly010 @itayod these are the imports we need to support both in eslint and schematics:

Validators,
AbstractControl,
ValidatorFn, AsyncValidatorFn, ControlValueAccessor, Validator

[2020-05-26 07:42] #3 closed, assigned to itayod

[2020-05-27 05:05] #18 closed, assigned to nobody

[2020-05-27 08:58] Coly010 opened #22 "Multiple Validators throwing TypeError"
From short initial investigation it seems like this typing:

https://github.com/ngneat/reactive-forms/blob/d57c2d8656e9bb3c3fddfc2f5c8b4627618542fa/projects/ngneat/reactive-forms/src/lib/types.ts#L22

Needs to be changed to be recursive in such a way that it can aggregate the different Validators that are used on a `FormControl`

At the moment, an error is thrown for the following:

`email: new Fo

[2020-07-02 12:34] #22 closed, assigned to nobody

[2020-07-06 05:49] NetanelBasal opened #23 "V2 - Fully Typed Version [BREAKING_CHANGES]"
In the current version, we tried to provide the maximum typing functionality we could get to make the migration as **seamless** as possible.

In the next version, we want to add the following features:

- Currently, when using `get` or `getControl` we need to infer the control type explicitly:

[code]

We need to use TS to automatically infer the type so that users can write:

[code]

- Improving

[2020-07-06 05:52] NetanelBasal opened #24 "Add persist form functionality"
It'll be great to add a built-in method to persist the form value to the storage. For example:

[code]

Where the `key` is the storage key, and the storage is `local` or `session`.

[2020-07-08 10:39] chrisguttandin opened #26 "Support strict option"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

TypeScript will not compile the project because of the following errors:

[code]
## Expected behavior

[2020-07-08 19:23] NetanelBasal commented on #26
@itayod

[2020-07-08 22:35] danzrou commented on #26
@chrisguttandin could please provide a stackblitz/ng-run minimal repo with this?
Thanks

[2020-07-08 23:43] chrisguttandin commented on #26
Hi @NetanelBasal, hi @danzrou, thanks for taking a look.

I created a repo over here: https://github.com/chrisguttandin/reactive-forms

I generated the project with the `--strict` flag. I then added a dummy form and installed @ngneat/reactive-forms and at last I ran the migration script. https://github.com/chrisguttandin/reactive-forms/commits/master

The `--strict` flag is necessary to trigger th

[2020-07-14 21:49] caroso1222 commented on #24
I wonder if you'd like to follow a more functional approach for the API on this one. Something along the lines of

[code]

It would allow the feature to scale with more managers like `SessionStorageManager`, `IndexedDBManager`, all of them implementing a common `IPersistManager` interface.

Not sure about this claim, but I suppose this could be easier to tree shake rather than having a `persist` m

[2020-07-15 04:35] NetanelBasal commented on #24
We can combine the ideas and create something like:

`profileForm.persist(key: string, storage: IPersistManager)`

I think we still need to provide at least the default behavior and save it to `localstorage` if `storage` isn't provided.

[2020-07-24 17:35] MilesHeise opened #32 "possible bug using formBuilder"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

controls created using formBuilder do not appear to have all the features that they should

[code]
In t

[2020-07-25 10:37] tehshin commented on #32
In the examples that are available in the readme they cast the controls to FormControl that is provided by the lib.

`const address = group.getControl('name') as FormGroup<Profile['address']>;`

I am not sure if it is intended like this, but it does work: https://stackblitz.com/edit/angular-ivy-tpmydz

[2020-07-25 11:28] MilesHeise commented on #32
interesting, I'll certainly give that a shot, thanks!

[2020-07-25 18:18] NetanelBasal commented on #32
Yes, this is the current behavior. See issue [32](https://github.com/ngneat/reactive-forms/issues/32). You're welcome to add this to the form builder section.

[2020-07-25 23:45] danzrou commented on #32
#23

[2020-08-02 04:11] #32 closed

[2020-08-02 16:19] #24 closed

[2020-08-03 18:47] jczacharia opened #36 "FormGroupDirective rejects FormGroup"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The typescript compiler rejects the reactive-forms FormGroup type. This error occurs:
[code]

## Expect

[2020-08-03 19:06] jczacharia commented on #36
It is definitely b/c of strict mode. I noticed there is a PR to fix this. Closing

[2020-08-03 19:06] #36 closed

[2020-08-03 19:55] danzrou commented on #36
We are indeed working on a solution for strict mode, currently investigating an issue that might be related to TS.

[2020-08-09 14:11] danzrou commented on #26
@chrisguttandin can you please try to fork from `fix/support-strict` and check it out using `npm link`?

[2020-08-11 18:07] chrisguttandin commented on #26
Hi @danzrou, using `npm link` did not work for me. It was linking the repository and not the dist folder. Anyway, I manually copied the files and it works perfectly now. Thanks a lot.

[2020-08-12 11:12] danzrou commented on #26
Thanks. @NetanelBasal we can proceed with merge I guess

[2020-08-12 11:21] NetanelBasal commented on #26
Nope. We need to check it on our project first to see that it didn't cause regressions.

[2020-08-14 09:08] MarioArnt opened #40 "FormArray helpers to remove controls."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

Hello,

I'm using the lib and it would be great if there was more methods to remove controls from `FormArray`

Currently th

[2020-08-14 10:30] NetanelBasal commented on #40
Sounds good. We just need to think about a better name. You can submit a PR.

[2020-08-14 12:09] danzrou commented on #40
I suggest providing the whole control in the predicate as we might want to consider disabled or other control states to find it

[2020-08-14 16:42] MarioArnt commented on #40
@NetanelBasal I created PR #41 for this, feel free to suggest other names for the new methods

Good point @danzrou ! I provided the whole control so it is possible to use any property (disable, dirty, status etc...) in the predicate

[2020-08-14 21:09] criskrzysiu opened #42 "FormControllWrapperValueAccessor"
Hi, I really like the idea behind this project and especially the touch$ (but would call it touched$ ;-) it's dirty, it's enabled, it's disabled, it's pristine and  ** it's touched**, etc so touch is a bit out of place ) feature.
So what I would propose is to add an abstract class like ControlValueAccessor<T> for use with a Control simply wrapping around a FormGroup (AbstractFormControl actually).

[2020-08-14 21:57] criskrzysiu commented on #42
Very simple implementation

`import {ControlValueAccessor } from '@angular/forms';
import { FormGroup} from "@ngneat/reactive-forms";
import {map, takeUntil} from "rxjs/operators";
import {Subject} from "rxjs";
import {OnDestroy} from "@angular/core";

export abstract class FormGroupWrapperValueAccessor<T = any, F = any> implements ControlValueAccessor, OnDestroy{
  public form: FormGroup<F>;
  pr

[2020-08-15 18:17] NetanelBasal commented on #42
Agree about the touch thing. Can you give a more concrete example to your suggestion, please?

[2020-08-24 04:32] #40 closed

[2020-09-08 03:24] jonrwads commented on #26
I believe I have a problem that is related to this one.  Trying to upgrade to Angular 10 and on build I get this error
`ERROR in node_modules/@ngneat/reactive-forms/lib/formControl.d.ts:7:14 - error TS2610: 'asyncValidator' is defined as an accessor in class 'FormControl', but is overridden here in 'FormControl<T, E>' as an instance property.`

If this is related, when might the pull request be me

[2020-09-08 04:24] NetanelBasal commented on #26
It's not related. We should change asyncValidator to a getter. You can open a PR.

[2020-09-08 05:32] jonrwads opened #44 "FormControl asyncValidator not Correctly Overriden"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Trying to upgrade to Angular 10 and on build I get this error
`ERROR in node_modules/@ngneat/reactive-f

[2020-09-10 15:48] Burgov opened #45 "using .setErrors doesn't trigger .errors$ to next()"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Setting an error to a control using `.setErrors()` does not trigger a new value to be emitted from `.er

[2020-09-10 18:46] NetanelBasal commented on #45
Do you want to create a PR?

[2020-09-10 18:46] NetanelBasal commented on #44
Do you want to create a PR?

[2020-09-12 18:07] #44 closed

[2020-09-14 14:01] jonrwads commented on #44
Just barely got back to this and noticed you had resolved this.  Thank you for your quick resolution.  I wasn't around this last week to contribute this fix.

[2020-09-15 07:44] Burgov commented on #45
@NetanelBasal https://github.com/ngneat/reactive-forms/pull/47

[2020-09-16 08:57] #45 closed

[2020-09-17 11:16] yackinn opened #48 "Reactive form testing won't validate the form correctly"
## I'm submitting a...
<pre><code>
[x] Bug report

</code></pre>

## Current behavior

When testing a simple component that has a setup form method on init the test for an invalid form fails. The form is valid without having values.
Swapping the ngneat form builder for the Agnualr form builder from angular core it works fine.
The test will output the form's invalid property as true.

Logging the o

[2020-09-18 10:02] criskrzysiu opened #49 "Additional data passed through form"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Expected behavior
I would like to propose ability to pass some custom observable data to form to be able to pass it throu

[2020-09-18 10:08] NetanelBasal commented on #49
I am not sure what is the use case and the functionality. Can you provide a complete example, please?

[2020-09-18 10:10] criskrzysiu commented on #49
@NetanelBasal It will take some time but I already have use cases in my project so I will try to write something based on that.

[2020-09-18 10:20] NetanelBasal commented on #48
@danzrou

[2020-09-23 08:51] tobang commented on #26
Any news on when this will be merged?

[2020-10-09 12:16] Jobu08 opened #50 "Pushing FormGroup to a strongly typed FormArray throws a compilation error"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Following compilation error appears when pushing to typed FormArray
[code]

## Expected behavior

## Mi

[2020-10-09 13:34] NetanelBasal commented on #50
Can you try this:

`this.elementsForm = formBuilder.array<Element>([]);`

[2020-10-09 13:45] Jobu08 commented on #50
That works, but doesn't change anything about the error.

[2020-10-09 13:46] NetanelBasal commented on #50
So what do you mean by saying "works"?

[2020-10-09 13:48] Jobu08 commented on #50
Doesn't throw error and assigns empty array to FormArray. I assumed that you wanted to check some other similar scenario

[2020-10-09 13:50] NetanelBasal commented on #50
So it's OK now with my solution?

[2020-10-09 13:54] Jobu08 commented on #50
No. I meant that your solution doesn't throw an error by itself, but the error I described is still there. Sry for confusion

[2020-10-09 13:55] NetanelBasal commented on #50
@danzrou when you can, please check the FormBuilder.

[2020-10-20 12:24] Benny739 opened #51 "Type FormGroup is not assignable to type AbstractControl"
Hi,

in various places I'm getting following error:

It happens for example when I'm using nested FormGroups. The example from the docs also produces this error.

[code]

  Types of property 'get' are incompatible.
    Type '{ <K1 extends "street" | "city">(path?: [K1] | undefined): AbstractControl<{ street: string; city: string; }[K1]>; <K1 extends "street" | "city", K2 extends keyof { street: st

[2020-10-20 13:14] danzrou commented on #51
Are you using strict mode in TS?

[2020-10-20 18:29] Benny739 commented on #51
Yes.

[2020-10-20 21:12] danzrou commented on #51
#26

[2020-10-22 07:52] danzrou commented on #51
I am not able to reproduce it on latest version. (which was released today)

Can you check?

[2020-10-22 08:02] danzrou commented on #26
@chrisguttandin @tobang

I could not reproduce this on the latest version, can you check?

[2020-10-22 08:06] danzrou commented on #50
When providing the generic type on the `array` method the error is gone.

[code]

Please check in latest version.

[2020-10-22 08:18] Jobu08 commented on #50
Works with latest package. Thx guys

[2020-10-22 08:18] #50 closed

[2020-10-22 15:54] chrisguttandin commented on #26
Hi @danzrou, thanks for the heads-up. The example repo (https://github.com/chrisguttandin/reactive-forms) I built for this issue compiles successfully with v1.4.2. I think we can close this.

[2020-10-22 17:24] #26 closed

[2020-10-22 17:25] #51 closed

[2020-10-23 21:43] rafaelss95 commented on #26
Hmm, I'm not sure if it's really related to this issue, but I faced an issue using `strict` today after upgrade to v1.4.2...

**Component**:

[code]

**HTML**:

[code]

It doesn't compile under strict, it throw the following error:

[code]

<hr>

I noticed that it just happens if you have an optional property declared.

[2020-10-23 21:53] rafaelss95 commented on #23
Yes, I just faced problem with it today while migrating an app from Angular Reactive Forms to this lib. Sample of the problem:

**Component**:

[code]

**HTML**:

[code]

[code]

<hr>

To make it work under strict we have to use `$any(...)`

[2020-10-25 07:28] itayod commented on #26
@rafaelss95 could you try add `Partial` type around `User` and see if it works?

[2020-10-25 18:11] rafaelss95 commented on #26
Nope, this doesn't work also, because as I mentioned above, the error happens when you have at least one optional property... so if you make all properties optional using `Partial` the error remains.

[2020-10-26 16:41] rafaelss95 opened #56 "Accept observable in mergeValidators/setValidators"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Currently `mergeValidators`/`setValidators` doesn't accept observables... we have the `validateOn` that

[2020-10-27 05:02] NetanelBasal commented on #56
You're welcome to create a PR.

[2020-11-03 02:07] rafaelss95 commented on #48
Just faced the same issue today after debugging it for an hour.

@NetanelBasal @danzrou do you have any idea from where should I look at to propose a fix? Or do you guys plan to fix it by yourself?

[2020-11-03 05:08] NetanelBasal commented on #48
@yackinn, can you create a reproduction on stackblitz, please?

[2020-11-03 07:14] danzrou commented on #48
@rafaelss95 @yackinn - did you test it on latest version?
Basically, the group just generates form controls without any exceptions.
And a reproduction can be very useful, thanks

[2020-11-03 15:01] rafaelss95 commented on #48
@NetanelBasal @danzrou I've setup a NX project with Jest to demonstrate the issue here: https://github.com/rafaelss95/reactive-forms-48.

You can see that the tests will fail when you import `FormBuilder` from `@ngneat/reactive-forms`, but that not happens when importing from `@angular/forms`. See this line:

https://github.com/rafaelss95/reactive-forms-48/blob/e3dec27190883d6ce245c2abe05497f9d69

[2020-11-03 16:11] danzrou commented on #48
I honestly don't know what we're missing here.
This is a test I added:
[code]

No errors.
Logging grou's `errors` return null (because the error is on the control, not the group) and `validators` property doesn't exist on groups so its legit that it return undefined for you.

[2020-11-03 16:26] rafaelss95 commented on #48
I mentioned `.errors`/`.validators` in the formControl. As an example, you could add these tests:

[code]

All of them fail.

[2020-11-03 19:23] danzrou commented on #48
Well, we're testing with Jest as well - this is the test I just ran and it passed with no errors :(
I'll fork your repo tomorrow to check what's going on

[2020-11-03 19:42] rafaelss95 commented on #48
That's really strange 🤔.

Thanks 🙏.

[2020-11-05 19:36] rafaelss95 commented on #48
Hey @danzrou, did you have any time to check it out? Please, let me know of any news.

[2020-11-10 16:48] danzrou commented on #48
Hey, I actually did.
I tested in clean angular project as same as an nx one, and in ours.
As it only occurred in the nx project and specifically in tests (there are no errors in runtime) I assume this has to do either with jest configuration / jest-angular-preset / something else related to TS.
Currently closing this as its not the lib's issue

[2020-11-10 16:48] #48 closed

[2020-11-18 20:43] criskrzysiu opened #58 "Deep partial update breaks build"
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

[code]

last line breaks build;

[code]
When change type of   usersSelect to usersSelect: number | null

[2020-11-19 06:34] NetanelBasal commented on #58
@itayod

[2020-11-19 06:35] NetanelBasal commented on #58
@rafaelss95

[2020-11-19 13:22] itayod commented on #58
Hi @criskrzysiu thanks for taking the time and open this issue, though I can not reproduce this error from your example above, could you please create some reproduction of it on stackblitz?

[2020-11-19 13:38] rafaelss95 commented on #58
Hey @itayod I've created a PR to fix this: #59.

[2020-11-19 13:40] itayod commented on #58
rafaelss95 I have seen but I am not sure if what exactly the problem is as I can not reproduce it myself

[2020-11-19 13:48] rafaelss95 commented on #58
I was able to reproduce in local environment. Btw, a good explanation on why we need using an exit conditional using recursive types is very well explained here: https://github.com/Microsoft/TypeScript/issues/30082.

[2020-11-19 14:25] itayod commented on #58
@rafaelss95 I still couldn't reproduce it on my pc, might depend on the typescript's version? could you create a reproduction for that?

[2020-11-19 14:30] rafaelss95 commented on #58
[Ok, here you go](https://www.typescriptlang.org/play?#code/PTAEBEFMFsHsDsDOAXATgQ2QSwQLlABbLIAOiuIA5lsgQK4BGAdAMazTDyXySbCq8W2AG6QAtADNYqaImBZEiOpDkBWABwBiBUshto0SPGRiA7AGYADABZLATmt2AbAFgAUO8gAPEtOShkAE8SSAhISBIABXRUbHQAGwAeABUAPlAAXlAAb3dQUABtSNAseFAAa0hA2AlQZIBdAH58KAjo2KwElKL61IBudwBfAY83UuRIVAl0FlCAMSx4idREOeloHLzQOkRJxABlSHi9ZHx0eECR-JDUHAATOdR2fBRbrivQG-vk2Be0UsoHzuynAmEgj2eoFeAKBILBPz+b0B

[2020-11-19 14:32] itayod commented on #58
thanks, @rafaelss95 seems like I was missing "strictNullCheck" flag in my reproduction...

[2020-11-19 15:24] criskrzysiu commented on #58
Hey, yes I do use strict:true in tsconfig. Thx for such a quick replay!

W dniu czw., 19.11.2020 o 15:33 Itay Oded <notifications@github.com>
napisał(a):

[2020-11-19 19:25] vesrah commented on #58
I also ran into this issue today, thank you for looking into this so quickly.

[2020-11-27 19:01] CesarD commented on #58
Just ran into this issue myself as well. It happens with latest version 1.4.4 but not with 1.4.3.
Calling `.patchValue()` with partial model on a `FormGroup` without defining any particular type (any).

[2020-11-27 19:27] CesarD opened #61 "Fields on FormGroup not updated on patchValue while having enabled/disabledWhile"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I have a few fields on a `FormGroup`, and some of them I set an `enabledWhile` function to enable/disab

[2020-11-28 14:12] CesarD commented on #61
I'm also experiencing the same when adding `FormGroup`s to a `FormArray` during the same sequence detailed above: the items are being added to the array, but the UI is not being refreshed and I have to enclose the `forEach` that populate the `FormArray` inside a `setTimeout`.

I do all this from `NgOnInit`, but I also tried to set up the form's `FormGroup` on `OnInit` and to load the data from bac

[2020-11-28 19:45] #61 closed

[2020-11-29 12:39] #58 closed

[2020-11-29 12:44] itayod commented on #49
@criskrzysiu any progress with the usecase?

[2020-11-29 12:54] itayod commented on #42
@criskrzysiu that actually sounds interesting and can save some boilerplate, would you like to create us a POC as you suggested?

[2020-11-30 15:35] CesarD opened #63 "FormControl typed with object doesn't expose enabledWhile (and others) as opposed to one typed with primitives"
I have a typed `FormGroup` that contains a few `FormControls`, some of them bind to primitive types like `number` or `string`, and others to objects of my app.

Those `FormControls` binded to objects are not showing properties like `enabledWhile` or `disabledWhile` when I try to call them by mean of `this.formGroup.getControl('myObject').enabledWhile(...)`.

Is this on purpose or not? If so, why?

[2020-12-07 12:11] itayod commented on #63
@CesarD could you please add here the complete code snippet of your code?

[2020-12-08 18:15] CesarD commented on #63
Hi @itayod.
Well, it's basically just as I described it: instead of making a FormControl<number>, I made a FormControl<Customer> on a FormGroup, and there's where the inconsistence shows up (unless that's by design, idk)

I could get you more details by tomorrow if needed... Let me know.

[2020-12-09 14:26] simon-hv opened #64 "Saving disabled controls with persist method"
Hi everyone!

I'm using the `persist` method to store the `FormGroup` to the sessionStorage, but it doesn't store disabled controls (I don't know if there is a reason for that).

Right now, I found a workaround by creating my own class implementing the `PersistManager` interface but I was wondering if there was any drawbacks to use `value$` instead of `valueChanges` in the line below?
This would a

[2020-12-10 08:46] itayod commented on #63
@CesarD yes, it is by design, you will need to "cast" the control or use `ControlsOf` utility as follows:
[code]
this should give you the correct type annotation.

[2020-12-11 09:15] CesarD commented on #63
So if I have, say:

[code]
and then

[code]

should I change it by something like this?

[code]

I just wrote it on my code and it's already yelling:

`TS2322: Type 'FormControl<ControlsOf<Vessel, {}>, any>' is not assignable to type 'AbstractControl<Vessel, any>'`

What am I missing?

[2020-12-11 14:54] simon-hv commented on #63
Hey!

Maybe if you try:

[code]

Then you can do:
[code]

I haven't had the time to test so I'm not sure about that at all, but maybe it can help you.

[2020-12-12 01:40] CesarD commented on #63
This is what I've been doing so far, but thought it was weird having to cast every single time when it was already typed, so that's the reason of this question :)

[2020-12-12 12:31] simon-hv commented on #63
I think this will be improved in future releases as you can see here: https://github.com/ngneat/reactive-forms/issues/23 :)

[2020-12-14 08:30] CesarD commented on #63
Ok, so then this is working as designed and it's not just a bug nor me doing something wrong, right?

[2020-12-14 10:00] itayod commented on #63
@CesarD there are several ways you can solve it:
[code]

Pick the one you are most comfortable with :) but yes, it is not a bug.

Let me know if you have worked it out and we can close this issue.

[2020-12-15 01:38] CesarD commented on #63
I see. Thanks for the compilation of examples.
I guess I'll stick with the casting as I was currently on, and will wait for the improvement that helps on this matter.

Thanks again!

[2020-12-15 01:38] #63 closed

[2020-12-16 19:21] grosch opened #65 "Fails to compile"
## I'm submitting a...

<pre><code>
[X] Bug report
</code></pre>

## Current behavior

When I build my project I'm getting compiler errors from the controls in this package. For example, this is the first one that appears:

Type 'AsyncValidatorFn<T, any> | null' is not assignable to type 'AsyncValidatorFn | null'.
Type 'AsyncValidatorFn<T, any>' is not assignable to type 'AsyncValidatorFn'.
Types

[2020-12-17 12:19] itayod commented on #65
@grosch which version do you use? could you post here the code snippet that fails?

[2020-12-17 16:40] grosch commented on #65
I'm using 1.5.  I attached an example project, but here's the app.component.ts

[code]

[2020-12-20 09:07] itayod commented on #65
@grosch please upgrade to the latest version and see if it works.

[2020-12-20 18:23] grosch commented on #65
Looks like 1.5.1 fixed it.

[2020-12-20 18:23] #65 closed

[2020-12-22 10:49] ciesielskico opened #66 "Unable to pass options to updateValueAndValidity when calling setValidators"
## I'm submitting a...

<pre><code>
[x] Regression
[x] Bug report
</code></pre>

## Current behavior

With regular Angular forms calling `setValidators` does not automatically call `updateValueAndValidity`.
We had to manually call `updateValueAndValidity` and had the ability to pass options, like `{onlySelf: true}` to that method.

## Expected behavior

My code broke after migrating to this librar

[2020-12-28 10:54] itayod commented on #66
@ciesielskico sounds like we do need it, would you like to create a pr for that?

[2021-01-11 11:45] KamilSocha91 opened #71 "new Control Methods - enable/disable multiple form controls with single method - patchEnable() & patchDisable()"
## I'm submitting a new approach to maintain state of form controls (disable/enable multiple form controls with single method).

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ x ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Expected behav

[2021-01-12 04:39] NetanelBasal opened #72 "valueChanges - add operator that'll emit only the diff"
Currently, when we subscribe to `valueChanges`, we get the complete form object. It'll be useful to create an operator that'll emit only the changed parts.

[code]

[2021-01-12 04:48] NetanelBasal commented on #64
You are right. I don't know if there are drawbacks, but I'd definitely make it configurable through the API. Do u want to create a PR? @Coly010, are you doing it?

[2021-01-12 10:41] KamilSocha91 commented on #72
That's what I have been looking for some time ago.

I can be assigned to it and create PR.

[2021-01-12 10:43] NetanelBasal commented on #72
It's yours.

[2021-01-12 20:16] stefanoww commented on #66
I would like to take it if it's free.

[2021-01-13 05:20] NetanelBasal commented on #66
@stefanoww it's all yours.

[2021-01-21 12:00] andreialecu opened #75 "Memory Leak"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I'm investigating some memory bloat in a large form, and noticed that a lot of the form controls are be

[2021-01-21 12:13] NetanelBasal commented on #75
It's your responsibility to unsubscribe, like in any other observable.

[2021-01-21 12:21] andreialecu commented on #75
Please re-read the issue text. I already addressed that concern.

You can use this patch on `master` to see it leak.

[code]

Repeatedly tap the "Toggle Form" button and notice how it leaks:
<img width="1075" alt="Screenshot 2021-01-21 at 14 20 39" src="https://user-images.githubusercontent.com/697707/105350436-d85baf80-5bf3-11eb-978f-09f196215b20.png">

It created 468 additional `Observables` jus

[2021-01-21 12:22] NetanelBasal commented on #75
Try it by not using this library, and tell me if it's our issue or Angular, please.

[2021-01-21 12:27] andreialecu commented on #75
If I replace `@ngneat/forms` with `@angular/forms` it doesn't leak:

<img width="1317" alt="Screenshot 2021-01-21 at 14 24 56" src="https://user-images.githubusercontent.com/697707/105350946-89624a00-5bf4-11eb-9f07-a2ee07cd3b25.png">

Notice how memory usage is exactly the same.

But this is expected because there are no `Observable`s retained, simply because those are created by this library - an

[2021-01-21 12:30] NetanelBasal commented on #75
Can you create a reproduction on stackblitz, please?

[2021-01-21 12:31] KamilSocha91 commented on #75
Yup that would be a problem with Subjects, they wont be affected by user unsubscription.

[2021-01-21 12:32] andreialecu commented on #75
@NetanelBasal do you have a template to start from? It seems that when I tried using it, StackBlitz fails with `ngcc failed on "@ngneat/reactive-forms"`

[2021-01-21 13:16] andreialecu commented on #75
So this is interesting.

I just noticed something weird in the "Retainers" listing for one of the Observables, which I assumed was related to the LastPass extension that I have installed.

I then tried disabling the chrome extension and magically the memory leak seems to be gone.

I guess this might be a false alarm. Will close for now.

[2021-01-21 13:16] #75 closed

[2021-01-21 16:24] danzrou commented on #75
Please also note that Angular has known issues regarding memory leaks in Reactive form directives which might be your issue.
Happily, today they released a version which fixes that.
See:

https://github.com/angular/angular/issues/20007
https://github.com/angular/angular/pull/39235

[2021-01-22 08:31] andreialecu commented on #75
Yup. I mentioned in the initial posting that I was using angular 11.1.0 - which is the version that included those fixes.

The leak was caused by the chrome extension in this case.

Since it's supposed to auto fill passwords, it seems to hook into inputs and doesn't detach properly when they're removed from the DOM by angular.

[2021-01-23 08:18] stefanoww commented on #64
@NetanelBasal I can take it.

[2021-01-23 16:43] NetanelBasal commented on #64
Ok, thanks

[2021-01-28 05:24] #66 closed

[2021-01-28 05:24] #64 closed

[2021-01-29 20:01] yntelectual commented on #64
@stefanoww  Thanks for the MR! @NetanelBasal do you plan to make a new release anytime soon? Or is there a chance to publish this as `next` in npm?

[2021-02-05 15:00] GrzegorzStanczyk opened #78 "Nested FormBuilder typing issue"
I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When I'm trying to use FormBuilder a revive interface assignable error.

![image](https://user-images.gith

[2021-02-06 16:58] NetanelBasal commented on #78
@danzrou wdyt?

[2021-02-06 17:27] GrzegorzStanczyk commented on #78
There is also typo in docs interface passed to the FormGroup.
![image](https://user-images.githubusercontent.com/18703886/107125184-9fd0fc80-68a8-11eb-8d57-8b22dae348c7.png)

[2021-02-06 19:00] danzrou commented on #78
as the error states - you are creating a group of type `any` while `vat` is required.
it will be easily solved by providing the type explicitly.

[code]

[2021-02-07 23:42] #78 closed

[2021-02-08 17:24] GrzegorzStanczyk commented on #78
Yes but with FormGroup it works fine without passing the interface. Aslo when I'm providing e.g. the Profile interface from docs. I would expect that nested form will be inferred like it is with FormGroup and FormArray. If I need to pass nested interfaces deeply, it's tedious labor and redundant for FormBuilder.

[2021-02-11 12:21] #72 closed

[2021-02-24 16:23] mnmaltsev opened #80 "touch$ behaviour"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Currently touch$ emits distincted value.

## Expected behavior

touch$ should emit value on every touch

[2021-02-25 06:46] NetanelBasal commented on #80
Can you provide a code example, please?

[2021-02-25 09:21] mnmaltsev commented on #80
repro:
https://stackblitz.com/edit/angular-ivy-e81zmg?file=src%2Fapp%2Fapp.component.html

this behaviour reason:
https://github.com/ngneat/reactive-forms/blob/ac86bf7233a152b5246b1ba6ab373e04902b3820/projects/ngneat/reactive-forms/src/lib/formControl.ts#L47

[2021-02-25 11:20] #71 closed

[2021-03-04 12:05] michalsisak opened #81 "Migration command does not work: Cannot find module '@phenomnomnominal/tsquery'"
## I'm submitting a...

<pre><code>
[ X ] Bug report
</code></pre>

## Current behavior
After a successful install the migration command `ng g @ngneat/reactive-forms:migrate` is not working:
[code]

The path is tiny bit changed but only in terms of User name and app folder name. I checked most of those paths and they have the appropriate files.

## Expected behavior
It should run migration command

[2021-03-11 11:01] gabrielguerrero commented on #48
Hey guys, we are facing this same issue, we have a nx repo with jest where we been using ngneat/reactive-forms@1.1.0 for some time, and yesterday we tried to migrate to 1.7.0 and notice a bunch of test failing, I copied and pasted the simple test @rafaelss95 posted and they fail the same way, and  manual testing of the app running showed the validation behaving fine so is only the test, we did dis

[2021-03-12 10:49] GrzegorzStanczyk opened #82 "Validators for input type="radio" don't work."
Control is valid when Validators.required is set.

## I'm submitting a...
<pre><code>
[X] Bug report
</code></pre>

## Current behavior
Radio control is always valid

## Expected behavior
To work same as native FormControl

## Minimal reproduction of the problem with instructions
https://stackblitz.com/edit/angular-ivy-emnm3t?file=src%2Fapp%2Fapp.component.ts
Switch FormControl between @angular/fo

[2021-03-12 14:41] NetanelBasal commented on #82
<img width="1143" alt="Screen Shot 2021-03-12 at 16 41 18" src="https://user-images.githubusercontent.com/6745730/110955021-d095cd00-8351-11eb-8bac-7a9bcdb50f9a.png">

[2021-03-12 22:08] criskrzysiu commented on #82
Hi,
@NetanelBasal what version of Angular did You use and what browser? I tested it on the newest versions of Chrome, Edge, Chrome canary, and Firefox.  I will check Angular 10 tomorrow, maybe that will be it.

[2021-03-13 17:11] NetanelBasal commented on #82
I tried it on our playground here.

[2021-03-14 03:04] st-clair-clarke opened #83 "Cannot find diff() function"
Hi,
I see the following in the docs

[code]

Where is the diff() function imported from? I can't seem to find a module that exports such a function.

Thanks

[2021-03-14 06:40] #83 closed

[2021-03-15 21:57] st-clair-clarke opened #84 "Which is the correct package version? 1.6.1 or 1.7.0 or 1.7.1?"
My applicaiton package.json shows the following

       `"@ngneat/reactive-forms": "1.7.0",`

but the package with the exposing of the diff() function is labelled 1.6.1

As a result, I cannot upgrade to get the use of the diff() function.

There seems to be an issue with the package versions.

Cheers

[2021-03-16 06:25] NetanelBasal commented on #84
Published 1.7.1.

[2021-03-16 06:25] #84 closed

[2021-03-20 17:47] andreialecu opened #85 "`disabled$`, `enabled$` and `status$` are typed as `any`"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

In the types exported by this library, `disabled$`, `enabled$` and `status$` are typed as `any`.

FormA

[2021-03-20 17:50] andreialecu commented on #85
Seems to be a regression:

https://cdn.jsdelivr.net/npm/@ngneat/reactive-forms@1.4.0/lib/formGroup.d.ts

In 1.4.0 the types are correct. In 1.5.0 they become broken.

[2021-03-21 05:31] diego-anthony commented on #82
I have the same result in stackblitz, it is more; Same result for input text type, but I replicated it in a local project and it works fine.

[2021-03-21 06:00] #85 closed

[2021-03-31 00:46] Jared-Gomes commented on #81
Temporary fix would be to run the command in your root angular directory:
`npm i -D @phenomnomnominal/tsquery`

Then try the migration script as usual:
`ng g @ngneat/reactive-forms:migrate`

I uninstalled the tsquery dependency after the migration was complete.

[2021-04-20 13:16] C0ZEN opened #86 "The validators are not triggered on value change and init"
## Context

In one of my project, I performed the migration from Angular 9 to 10.
I saw some failing tests related to the forms validation.
I figured that using this project was the root cause.
Using Angular imports (for the `FormGroup` and `FormControl` fixed my issue).

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug

[2021-04-22 07:51] NetanelBasal commented on #86
Does the issue happen in any version above v9?

[2021-04-22 08:59] C0ZEN commented on #86
@NetanelBasal v9 was fine, v10 was failing, v11 (Stackblitz) is also failing :/

[2021-04-22 09:21] NetanelBasal commented on #86
Can you tell what am I missing:

https://codesandbox.io/s/aged-leftpad-7uxbo?file=/src/app/app.component.ts

[2021-04-22 10:12] C0ZEN commented on #86
@NetanelBasal I forked your sandbox and I was not able to reproduce the issue even after changing as much stuff as possible to reproduce the same environment than the Stackblitz reproduction one...
Do you have any clue to help me solve this? Thanks!

[2021-05-01 11:44] tafax opened #87 "Error when trying to merge validators"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When invoking `mergeValidators` an error is thrown.

## Expected behavior

The validators are correctly

[2021-05-01 18:42] NetanelBasal commented on #87
Please reproduce it on stackblitz.

[2021-05-01 18:43] NetanelBasal commented on #82
Closing this issue for now.

[2021-05-01 18:43] #82 closed

[2021-05-01 19:15] tafax commented on #87
@NetanelBasal Sure, but do you have a functioning template I can use? If I try to set up stackblitz I get `ngcc failed to run on @ngneat/reactive-forms@1.7.2.`

[2021-05-05 13:10] tafax commented on #87
@NetanelBasal Any news on this?

[2021-05-10 00:01] Ben348 opened #88 "Required validator on FormControl not working in unit tests when using jest"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
When running unit tests in a jest environment they fail when using the required validator on a FormContr

[2021-05-18 16:00] markwhitfeld commented on #88
Ok, I did a bit of investigation, and I think that it is because jest is using the `umd` bundle instead of the `fesm2015` bundle.
I'm not sure what is responsible for the bad umd bundle, but the problem is clear once you see the code.
Basically the `validator` and `asyncValidator` function of `FormControl` and `FormGroup` are reading and writing the value to the prototype and not to the instance.

[2021-05-18 18:16] markwhitfeld commented on #88
So this is a typescript ES5 compiler issue.
See this playground: https://www.typescriptlang.org/play?target=1&ts=4.2.3#code/LAKFGMBsEMGdYAQBECmAzBBvUCEAcAnASwDdoAXFBAfUtnIC4F7iA7AcwQF4EByXgNygc+AK4AjSEXAJ2KcgjrkAFAEomLIhywjcBeaIKtFACyKwAdLRT0hIXAF8ReCVJmx5imyrKRRKDXI2dlUde1xTcyslbgRffztHUCcwECg4RABBcRkUAA9KVgATRFQMbHCROQUlNUDgsIiEfXJDY1hRPBQCCyVEhBTcDxrvZXiA5iCtEMaIjq6emJ5x-pSU0EhPaBzY1hQAdwRs8DU7

[2021-05-19 10:22] markwhitfeld commented on #88
The bug was introduced in this angular commit: https://github.com/angular/angular/commit/ad7046b9340235bfb153447384cd1ac20e736319
From this PR: https://github.com/angular/angular/pull/37881

Because the Abstract control now uses property getters and setters for `validator` and `asyncValidator`, this lib was forced to create their own property getters and setters for these props, calling through to

[2021-05-19 12:28] markwhitfeld commented on #88
As a temporary workaround, you can add this code to your `test-setup.ts` (or equivalent) file for jest:
[code]

[2021-05-19 12:34] Ben348 commented on #88
Hello, @markwhitfeld thank you so much for the work you've done to investigate this and fix it. I got as far as figuring out the UMD bundle was the problem so then tried to get jest working with ECMAScript Modules instead. Thanks again, I really appreciate it 😄

[2021-05-19 14:33] markwhitfeld commented on #88
Hi @Ben348, did you come right with the change to the dist that jest uses?
If you did, then could you share the changes to get this approach working?

[2021-05-19 15:24] markwhitfeld commented on #88
PS. This ES5 downleveling issue was logged in Typescript 7 years ago (and 44000 issues ago) and unfortunately did not have a reasonable solution. It is just broken and that is the way it will always be. See: https://github.com/microsoft/TypeScript/issues/338

My PR fixes the issue for this lib though by removing the passthrough properties in the subclass at runtime. This fixes the issue without th

[2021-05-20 06:41] NetanelBasal commented on #88
@markwhitfeld thanks! I appreciated your work on this issue. I think we can get around this by using the code in this PR: https://github.com/ngneat/reactive-forms/pull/90/files

WDYT?

[2021-05-20 07:43] markwhitfeld commented on #88
Yes, I think that is a good alternative approach, as I mentioned in my PR.
It does create a coupling to the knowledge that the superclass with the accessor is `AbstractControl`, but I think it is safe in the case of Angular. It also may have a very slight performance hit, but it would be negligible in the bigger picture.
I thought about using the `Reflect.get` and `Reflect.set` apis, but avoided t

[2021-05-20 07:44] NetanelBasal commented on #88
Yes, I agree about the coupling, but we are all coupled to Angular anyway :)

[2021-05-20 07:44] NetanelBasal commented on #88
Thanks for the effort.

[2021-05-20 07:45] #88 closed

[2021-05-20 07:48] NetanelBasal commented on #87
@tafax can you try v1.7.3?

[2021-05-20 07:50] markwhitfeld commented on #88
PS. there was almost a carbon copy of this issue here: https://github.com/angular/angular/issues/40327

[2021-05-20 07:53] markwhitfeld commented on #88
Thanks for getting this merged and released so quickly 🎉 🚀

[2021-05-20 17:37] Ben348 commented on #88
@markwhitfeld Sorry for the late reply. I was trying to get it working but not had much luck so far. If I get it working I'll be sure to let you know.

You need to be using the next version of jest (27) and the next version of jest-preset-angular https://thymikee.github.io/jest-preset-angular/docs/next/getting-started/presets#the-presets

Thank you both for the investigation and fixes on this issu

[2021-05-21 07:30] markwhitfeld commented on #88
@Ben348 It is fixed in the latest release, so no workaround needed! 👍

[2021-05-24 16:09] ALEX-ANV commented on #88
Hello, I have tried to use version 1.7.3 in angular 9.1 and it does not work.

`core.js:6241 ERROR TypeError: Cannot read property 'set' of undefined
    at FormControl.set validator [as validator] (ngneat-reactive-forms.js:313)
    at new AbstractControl (forms.js:3878)
    at new FormControl (forms.js:4913)
    at new FormControl (ngneat-reactive-forms.js:291)`

https://stackblitz.com/edit/angul

[2021-06-02 15:23] tafax commented on #87
@NetanelBasal Unfortunately, It is still there for me.

[2021-06-09 19:24] ltoenjes opened #91 "FormControl.errorsSubject is undefined when using asyncValidator"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When instantiating a FormGroup with asyncValidators an error occurs.

`
ERROR TypeError: Cannot read pr

[2021-06-10 05:32] NetanelBasal commented on #91
Can you please reproduce on stackblitz?

[2021-06-10 05:32] NetanelBasal commented on #87
Can you reproduce on stackblitz, please?

[2021-06-10 05:33] #23 closed

[2021-06-10 05:34] #49 closed

[2021-06-10 05:34] #56 closed

[2021-06-10 05:35] #42 closed

[2021-06-10 05:35] #80 closed

[2021-06-10 05:40] ltoenjes commented on #91
Will do.

[2021-06-22 14:02] Mooeeezzzz opened #96 "UpdateValueAndValidity emits event when adding validator directive"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
  formGroup.valueChanges emit value when setting a validator directive like required because the  librar

[2021-06-29 15:42] tafax commented on #87
@NetanelBasal I still get `ngcc failed to run on @ngneat/reactive-forms@1.7.3.` on stackblitz.

[2021-07-17 14:46] benjamin-thomas opened #97 "Uninitialized FormControl can generate runtime errors"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Hello, neat library ;) And looking to be a great time saver

I'm puzzled by the possibility of initial

[2021-07-18 05:37] NetanelBasal commented on #97
We mimic the same functionality of Angular.

You can add it: `FormControl<string | undefined>`

[2021-07-18 06:42] benjamin-thomas commented on #97
Thanks. I would argue this doesn't follow the principle of least surprise. I feel the type system is lying to me at this point.

Regarding Angular, I understand you want to mimic it's functionality but this one is bug inducing. Also by introducing type safety you have already improved and changed the default functionality, so I feel you could go one step further.

Maybe the following screenshot wi

[2021-07-18 06:45] NetanelBasal commented on #97
Don't get me wrong. I agree with you. But the focus of this library, at least for step one, is providing a seamless migration. I'll leave it open to v2.

[2021-07-18 07:03] benjamin-thomas commented on #97
Sounds good, thanks ;)

Have a great Sunday.

[2021-07-20 05:11] benjamin-thomas commented on #97
Just a "food for thought" update, I think I got this backwards. Or at least there are other gotchas to be aware of.

Angular differs in behavior depending on the form input type:

- user empties an `<input type="text">` field: the output is an empty string
- user empties an `<input type="number">` field: the output is a **null** value!

That kind of behavior is not immediately obvious to me. And I

[2021-07-22 21:07] #96 closed

[2021-07-27 16:31] C0ZEN commented on #91
FYI: I encountered the same issue @NetanelBasal.
I can reproduce it with a form that has one form control and one async validator (in an array).
The async validator in this case is returning an observable which is instantly resolved with a `of(null)`.
As a workaround, using a `delay` is just enough to not see the error in the console.
I guess the `errorsSubject` is optional during a little time fr

[2021-07-27 18:23] NetanelBasal commented on #91
Can you please reproduce on stackblitz?

[2021-07-27 19:25] C0ZEN commented on #91
@NetanelBasal https://stackblitz.com/edit/ngneat-reactive-forms-error-issue?devtoolsheight=33&file=src/app/app.component.html

[2021-07-27 19:54] C0ZEN commented on #91
I added it to codesandbox which I found way better and I have the same issue.
https://codesandbox.io/embed/github/C0ZEN/ngneat-reactive-forms-error-issue-cs/tree/main/?autoresize=1&expanddevtools=1&fontsize=14&hidenavigation=1&theme=dark

[2021-07-27 20:32] C0ZEN commented on #91
Actually, since your custom control is using the super from the extended Angular class, the latest will call the `setErrors` method before continuing the rest of the constructor which set the subject.
Kind of easy to come up with a fast fix, I can provide a PR and you will be the judge over the quality ;)
BTW: I tried to reproduce the issue through some tests but didn't come up with a reproduction

[2021-07-28 05:42] #91 closed

[2021-07-28 07:32] C0ZEN commented on #91
Tested and I can confirm it's good.
Thank you for the fast reactivity.

[2021-07-29 00:12] grosch opened #99 "How do I get the FormGroup's value, not the ControlsValue"
## I'm submitting a...

<pre><code>[X] Support request
</code></pre>

## Current behavior

A `FormGroup`'s `value$` observable emits a `ControlsValue<T>` instead of a `T`.

## Expected behavior

I want to actually get a value of type `T` so that I can do this:

[code]

That doesn't work though because `x` there isn't actually of type `T`

I'm doing nested forms, and so when this form changes, I pa

[2021-07-29 07:45] NetanelBasal commented on #99
Please reproduce on stackblitz

[2021-07-30 19:12] grosch commented on #99
I tried to create a stackblitz for you but that doesn't work as ngcc fails to run against @ngneat/reactive-forms now.  However, I was able to simplify it down to this example that will show the failure if you paste it into your project:

[code]

[2021-07-30 23:49] grosch opened #100 "Nested forms"
## I'm submitting a...

<pre><code>
[X] Support request
</code></pre>

## Current behavior

I'm using this with nested components where each child component is a CVA that has its own FormGroup. Right now I'm doing something like this, which just feels wrong.

[code]

## Expected behavior

Having to fully define the 'general' control here feels wrong since I'm going to just replace it with the actu

[2021-08-04 13:05] jogelin opened #101 "strictTemplate complains about ngNeat Types"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[X] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I would like to activate the `strictTemplate` property in tsconfig but it is complaining that the `Form

[2021-08-04 13:09] jogelin commented on #101
I didn't read the angular doc correctly sorry, the answer is here: https://v9.angular.io/guide/template-typecheck#disabling-type-checking-using-any

[code]

[2021-08-04 13:09] #101 closed

[2021-08-08 17:06] muuvmuuv commented on #87
Having the same issue. Somehow, always a `null` is in the validator array.

[code]

I am on `1.7.3` as well.

[2021-08-09 04:27] NetanelBasal commented on #87
Can you reproduce on stackblitz, please?

[2021-08-09 06:53] muuvmuuv commented on #87
@NetanelBasal sure but StackBlitz says "cannot compile reactive-forms"... I will try ng-repl

[2021-08-09 07:01] muuvmuuv commented on #87
@NetanelBasal sorry to ping again, I got a working repl here: https://codesandbox.io/s/reactive-forms-issue-87-ehccj?file=/src/app/app.component.ts

(OT: why is StackBlitz so hyped, Codesandbox works way better IMO and has great VS Code features)

[2021-08-09 07:16] NetanelBasal commented on #87
I can check it, but this method is redundant. In v12 they added the `addValidator` method.

[2021-08-09 07:26] #87 closed

[2021-08-09 07:27] NetanelBasal commented on #87
Fixed and deprecated.

[2021-08-12 16:53] mmwatt opened #102 "ValidatorFn won't compile in strict mode."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Fails to compile with error: `Type 'AbstractControl' is missing the following properties from type 'Abs

[2021-08-12 19:26] grosch commented on #100
Any help you can provide here?

[2021-08-12 19:26] grosch commented on #99
Any help you can provide here?

[2021-08-25 14:58] xaosaki opened #103 "Typings error in base example with ProfileControls interface"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Example from Readme.md which using interface with FormGroup types does not work. (It also doesn't work

[2021-08-31 13:28] abierbaum opened #104 "FormArray wrapper doesn't support second options parameter of Angular"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The reactive-forms wrapper for FormArray does not support the `options` argument allowed by the underly

[2021-09-01 07:17] NetanelBasal commented on #104
Fixed in v2

[2021-09-01 07:17] #104 closed

[2021-09-01 07:18] NetanelBasal commented on #81
You'll need to install it manually. I added this info to the docs.

[2021-09-01 07:18] #81 closed

[2021-09-01 07:19] NetanelBasal commented on #99
`ControlsValue` is now exported in v2.

[2021-09-01 07:19] #99 closed

[2021-09-07 15:08] xaosaki opened #106 "Complex typings broke auto type definition"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
This line breaks overrides.
https://github.com/ngneat/reactive-forms/blob/8675a4f723479b08a8810a9cd2f255

[2021-09-09 06:18] NetanelBasal commented on #106
I'm not sure what you mean. There are no errors in stackblitz:

![image](https://user-images.githubusercontent.com/6745730/132633230-4f1eb052-bf8e-49ff-8dbf-4d8d67466689.png)

[2021-09-09 06:51] xaosaki commented on #106
You need download stackblitz example and open it in IDE with advanced typescript support. ex WebStorm or PhpStorm.

[2021-09-09 07:30] NetanelBasal commented on #106
Yes.

VsCode works fine:

![image](https://user-images.githubusercontent.com/6745730/132642312-3db5d007-06db-4997-80d3-9d9d17f8e6b8.png)

[2021-09-09 07:57] xaosaki commented on #106
Ок, i looked at typescriptlang.org/play and there was correct to. I will create issue in JetBrains tracker.

P.S. Can you self look at #103 ?

[2021-09-09 07:58] NetanelBasal commented on #106
I asked from the one that added this feature.

[2021-09-09 07:58] #106 closed

[2021-09-09 08:08] xaosaki commented on #103
Hi @ShacharHarshuv, you have 2 accounts, maybe this one is more relevant. Please check this issue.

[2021-09-21 14:46] MattHoneycutt opened #107 "FormGroup<T> doesn't have the correct types in some cases"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

First, this project is fantastic, and I love it!  I'm reporting a few issues I've found with the types of controls on a Form

[2021-10-01 17:32] urielzen opened #108 "Is is safe to install with --legacy-peer-deps"
I have angular V10 in my project.
When trying to run
`npm i @ngneat/reactive-forms`
I get this error
[code]

The documentation says that the package is compatible with angular V8+, but that is inconsistent with the error above.

Please let me know if it is ok to install with `--legacy-peer-deps`

[2021-10-04 18:49] NetanelBasal commented on #108
If you don't see any compiler issues, you can use the current version.

[2021-10-04 18:50] NetanelBasal commented on #107
Thanks for the report. The author of this is no longer associated with Angular. I will look into it when I have time.

[2021-10-05 05:57] #108 closed

[2021-10-08 11:16] #102 closed

[2021-10-08 11:16] #103 closed, assigned to nobody

[2021-10-08 18:59] benjamin-thomas commented on #97
Great I'll have a look at it :)

[2021-10-14 20:01] strigefleur opened #109 "FormBuilder Date problems in v.3"
### Is this a regression?

Yes

### Description

Having the code like
[code]
gives compiler error.

Commenting out the `Date` typed prop "helps".

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

[code]

### Please provide the environment you discovered this bug in

[code]

### Anything else?

Sorry, can't provide qui

[2021-10-14 21:00] strigefleur commented on #109
1. `id: [{ value: 123, disabled: true }, [Validators.required]],`
2. `someProp: [null, [Validators.required]],`

Both cases no longer work. Am I missing syntax update?

[2021-10-15 05:09] NetanelBasal commented on #109
@strigefleur As it states in the docs if you need to use a `FormControl` rather than a `FormGroup` when dealing with non-primitive types, you should explicitly set it as a `FormControl`.

[code]

[2021-10-15 05:21] #109 closed

[2021-10-19 20:21] muuvmuuv opened #111 "Strict null checks throws"
### Is this a regression?

Yes

### Description

I am migrating our current form service to the latest version of this lib and encounter an issue with `strictNullChecks`.

When I use `new FormGroup({} as ControlsOf<T>)` where `T` is a Model defined in a Component, it seems it cannot recognize it properly.

I bet I am just missing something but since it is experimental, I thought it could also be a

[2021-10-20 07:00] muuvmuuv commented on #111
I see one right here: https://codesandbox.io/s/form-ngneat-1v2hy?file=/src/app/app.component.ts:1003-1035 🤔
<img width="694" alt="Bildschirmfoto 2021-10-20 um 09 00 35" src="https://user-images.githubusercontent.com/11534760/138043614-25642f5c-ed59-465f-8849-e62d73625ab7.png">

[2021-10-20 07:49] NetanelBasal commented on #111
I see the error, but I don't know what's wrong with your sandbox. Would you please reproduce it in this repo? You can use the playground or in a plain spec file. Would you please keep it minimal?

[2021-10-20 08:02] NetanelBasal commented on #111
Moreover this code works fine:

![image](https://user-images.githubusercontent.com/6745730/138052666-8d190498-0433-42a8-98cd-46faa540008a.png)

So I think it's something else in your code.

[2021-10-20 18:11] muuvmuuv commented on #111
I think I found it. Someone told me that `?` is not equal to `undefined` (didn't know that before) and because it tries to look for `undefined`, every `?` does never seem to be a choice in the selection. I have updated my Sandbox to the most minimal REPL. Including your Class example including `?`. Removing the `?` solved it.

Another strange thing happens after I "fix" everything. I added a helpe

[2021-10-20 18:33] muuvmuuv commented on #111
Oh, I still think it's a bug because `FormGroup` does not seem to recognize an interface value with `?` or allow(?) it. I just modified the _main.ts_ file, so you can see it better: https://codesandbox.io/s/form-ngneat-1v2hy?file=/src/main.ts

[2021-10-20 19:32] strigefleur opened #112 "Multiple disabledWhile on same formGroup"
### Is this a regression?

No

### Description

There are two different conditions to apply on a form: disable it whole and disable a certain control.
Thus, I use `form.disabledWhile(conditionFoo$)` and then `form.control.foo.disabledWhile(conditionBar$)`.

It appears that `conditionFoo$` emit overwrites any existing control conditions so that if `conditionBar$` doesn't emit right after the `condi

[2021-10-21 07:29] NetanelBasal commented on #111
@muuvmuuv you can try the latest version. See the docs for the gotchas.

[2021-10-21 09:13] NetanelBasal commented on #112
In this case, we're just passing Angular the result of the observable to Angular. Check if the behavior is the same when using plain Angular.

[2021-10-21 10:17] #112 closed

[2021-10-25 11:26] catrias opened #113 "`status$` is typed as `boolean` instead of `'VALID'...`"
### Is this a regression?

Yes

### Description

`status$` should have `VALID`, `INVALID`, `PENDING` states

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### Please provide the environment you discovered this bug in

_No response_

### Anything else?

_No response_

### Do you want to create a pull

[2021-10-25 18:45] #113 closed, assigned to nobody

[2021-10-27 13:28] steflen opened #114 "unable to install newest version (ngcc fails)"
### Is this a regression?

Yes

### Description

cant install the library, fails at postinstall step

### Please provide a link to a minimal reproduction of the bug

https://stackblitz.com/edit/angular-ivy-bwiuec

### Please provide the exception or error you saw

[code]

### Please provide the environment you discovered this bug in

[code]

### Anything else?

wild guess: here you've changed the

[2021-10-27 15:20] salmoro opened #115 "Incorrect types for parameter "opts" of setEnabled and setDisabled"
### Is this a regression?

Yes

### Description

Firstly thanks for this great library. It's delightful!

Currently the "opts" parameter of setEnable and setDisable methods of all controls are  typed as `opts?: Parameters<AbstractControl['disable']>`  which is a tuple of all parameters of the "disable" method while the intention (of course) is to get the first parameter which would be `opts?: Para

[2021-10-27 16:24] #114 closed, assigned to nobody

[2021-10-28 06:51] #115 closed, assigned to nobody

[2021-11-15 13:40] jingfee opened #116 "GetRawValue() doesn't return nested disabled values"
### Is this a regression?

Yes

### Description

I recently tried to update from 1.7.5 to 3.1.3 and found a bug within my application which I could trace down to getRawValue() not working as intended.

Examples when it works and doesn't work. the children-formarray is disable in these cases. For simplicitys sake the formgroups in these examples are visualized as json-objects.

This one works:

[co

[2021-11-16 06:16] NetanelBasal commented on #116
Share your code, please.

[2021-11-16 11:20] jingfee commented on #116
I'm trying to replicate in a Stackblitz 🙂

[2021-11-17 07:17] #116 closed

[2021-11-20 04:51] adnanebrahimi opened #117 "Support Angular 13"
### Is this a regression?

No

### Description

by `running npm i @ngneat/reactive-forms` in NX 13 with Angular 13 the package could not be installed

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

[code]

### Please provide the environment you discovered this bug in

[code]

### Anything else?

_No response_

### D

[2021-11-20 11:15] Al00X opened #118 "Unit test fail (TypeError: Class constructor FormControl cannot be invoked without 'new')"
### Is this a regression?

Yes

### Description

I recently updated to the latest version of this package and Angular.
I checked the playground demo project in the source codes and every config is the same as mine (I'm using NX).
When unit testing, I get this error:

My code:

[code]

My unit test:

[code]

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please p

[2021-11-20 18:55] NetanelBasal commented on #118
The library isn't compatible with Angular v13.

[2021-11-20 18:56] NetanelBasal commented on #118
duplicate of #117

[2021-11-20 18:56] #118 closed

[2021-11-20 19:48] #117 closed

[2021-11-22 05:52] jogelin opened #119 "Upgrade is hard and refactoring too big"
I am writing this issue to share about the upgrade from v1.7.5 to v3.

We are using this library since the beginning in our mono repo and we really liked the fact that we could make our forms typed.

We are trying to keep our repo up to date but with the last upgrade but we investigated what will be the cost of refactoring our forms and it is really too much.

In fact, being forced to create a new

[2021-11-22 06:23] NetanelBasal commented on #119
I'm not sure what you mean here.

[2021-11-22 06:23] #119 closed

[2021-11-22 06:47] ciesielskico opened #121 "Failed to load plugin: Cannot find module 'requireIndex'"
### Is this a regression?

Yes

### Description

Trying to run this we ESLint 7 I'm getting the following error:

[code]

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### Please provide the environment you discovered this bug in

[code]

### Anything else?

.eslintrc.json
[code]

### Do you want to

[2021-11-22 06:50] NetanelBasal commented on #121
That's not seem related to the library.

[2021-11-22 08:46] ciesielskico commented on #121
Downgrading to 1.0.2 worked

[2021-11-23 18:16] Moik commented on #121
@NetanelBasal i've got the same issue after upgrading `eslint` to 8.2.0. I know it has some breaking changes. Could it be the issue with `eslint-plugin-reactive-forms`?

[2021-11-24 06:30] NetanelBasal commented on #121
Are you using it in your application?

[2021-11-24 10:41] Moik commented on #121
Yes, i am using it in my application. I updated angular from 12 to 13 recently and tried to update eslint from 7 to 8. Before update linting worked perfectly fine. I had the similar issue with another eslint plugin but they released a new version yesterday and the issue has gone

[2021-11-24 10:50] NetanelBasal commented on #121
I'll update it, thanks.

[2021-11-24 11:32] NetanelBasal commented on #121
@Moik can you please check v4.0.0?

[2021-11-24 11:53] Moik commented on #121
@NetanelBasal it works! Thank you a lot for the quick update and for the great lib :)

[2021-11-24 11:54] #121 closed

[2021-11-27 09:02] wSedlacek opened #126 "Support RxJS v7"
### Description

RxJS 6 and 7 is supported by Angular 13

### Proposed solution

- Change RxJS dependency to be '^6.0.0 || ^7.0.0`
- Update any removed APIs with ones that are compatible with v6
- Do not use any new ^7.0.0 APIs until Angular has dropped support for RxJS 6 altogether

### Alternatives considered

Update to only support ^7.0.0 which would allow usage of the new APIs at the cost of h

[2021-11-27 09:13] wSedlacek commented on #126
🤔 After looking at the code it seems that `rxjs` is not intended to be a dependency of `reactive-forms` at all.

When I build the package with `nx build reactive-forms` I get the follow peer dependencies.
[code]

However when I install the package from `npm` it has the following dependencies.
[code]

This is interesting because the only commit since the 4.0.0 commit was
https://github.com/ngneat/r

[2021-11-27 16:41] #126 closed

[2021-12-02 07:19] wSedlacek opened #130 "Support Angular 13.0.3"
### Is this a regression?

Yes

### Description

Similar to #126 there appears to be an unexpected version configured in the package.json ie
[code]

### Please provide the exception or error you saw

[code]

### Do you want to create a pull request?

No

[2021-12-02 07:45] #130 closed

[2021-12-09 20:45] jafaircl opened #131 "Consider using something like `fast-deep-equal` to check if errors are equal in `controlErrorChanges$`"
### Description

Comparing two objects using `JSON.stringify` has 2 drawbacks:

1) It's much slower than it needs to be. Using a library that checks if two objects are equivalent based on their values can be about an order of magnitude faster. I [forked `fast-deep-equal`](https://github.com/jafaircl/fast-deep-equal/blob/master/benchmark/index.js) and added equality functions using `JSON.stringify`

[2021-12-29 08:03] shajz opened #135 "markAllAsDirty not doing anything"
### Is this a regression?

Yes

### Description

Hello, a week ago, I migrated a project from angular 12 to angular 13. I bumped reactive-forms from `^1.7.5` to `^4.0.2` (quite a huge bump...)

All my forms use the same pattern when submitting
[code]

It seems that `markAllAsDirty` doesn't work as expected anymore. We had to replace this call with a custom function

[code]

and we now call `recurs

[2021-12-29 08:52] NetanelBasal commented on #135
We didn't change the implementation:

- [v2](https://github.com/ngneat/reactive-forms/blob/9e3bb8f637d58092258f518cb00a4ae5412bbe9b/projects/ngneat/reactive-forms/src/lib/control-actions.ts#L138)
- [v4](https://github.com/ngneat/reactive-forms/blob/45cfe2b6467ac6615688db8012e49e526c92dbea/libs/reactive-forms/src/lib/core.ts#L134)

[2022-01-03 22:38] shajz commented on #135
I figured out what's missing. The `markAllAsDirty` method used to exist on `FormControl` (see https://github.com/ngneat/reactive-forms/blob/v2.0.0/projects/ngneat/reactive-forms/src/lib/formControl.ts#L141 in v2) but it's gone on v4 (see https://github.com/ngneat/reactive-forms/blob/v4.0.2/libs/reactive-forms/src/lib/form-control.ts)

[code]

This gets fixed by either adding a `markAllAsDirty` met

[2022-01-04 07:54] #135 closed

[2022-01-04 07:54] NetanelBasal commented on #135
Nice! thanks

[2022-01-11 08:44] jogelin opened #137 "fb.array doesn't transfer the generic type Control to the FormArray construction"
https://github.com/ngneat/reactive-forms/blob/a6a0c22ee8652fb18fa666727aa4ff84c345be85/libs/reactive-forms/src/lib/form-builder.ts?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L24

[code]

[2022-01-11 08:48] NetanelBasal commented on #137
I'm not sure I follow.

[2022-01-11 14:38] jogelin commented on #137
Sorry I encoded it a bit fast. Below are some details

First, you can find an example here: https://stackblitz.com/edit/angular-ivy-ktpmpb?file=src/app/form.interfaces.ts

The issue is that when we specify a `Control` type in a `FormArray` generic type `(FormArray<T, Control>`), the `FormBuilder.array` return  a wrong type because it decides what will be the Control type based on

[code]

In my us

[2022-01-11 14:49] NetanelBasal commented on #137
Can you please try it locally in the repo playground/spec?

[2022-01-11 14:50] jogelin commented on #137
Issue related:

`ValuesOf` does not work when we specify a `Control` type in a `FormArray`.

here is an example based on the previous comment: https://stackblitz.com/edit/angular-ivy-w1eyiv?file=src%2Fapp%2Fapp.component.ts

So to solve my previous issue, instead of using a `FormBuilder` I can use `new FormArray([])`.

However, the `ValuesOf<UserForm>` doesn't match my `FormArray` type because I s

[2022-01-11 15:09] jogelin commented on #137
As requested, same issue in your repo playground: https://github.com/jogelin/reactive-forms/tree/issue-137

[2022-01-11 15:11] NetanelBasal commented on #137
I mean after your fix :)

[2022-01-11 15:43] jogelin commented on #137
I created a PR with both fixes + some playground improvements to validate my fixes.

https://github.com/ngneat/reactive-forms/pull/138

[2022-01-11 19:48] #137 closed

[2022-02-07 10:19] undsoft opened #141 "Dealing with subscriptions from disabledWhile()"
### Description

I've recently discovered that disabledWhile() returns back a Subscription.
I'm assuming it is expected that I will be the one unsubscribing in ngOnDestroy.

1. Isn't there a way to have reactive-forms take care of this subscription without me doing anything?
2. If not, the need to unsubscribe should probably be highlighted in the docs.
3. We use [until-destroy](https://github.com/

[2022-02-07 10:55] NetanelBasal commented on #141
We can't do it automatically because the class isn't aware of life cycle hooks. When you subscribe to something, you have to unsubscribe unless you're explicitly told in the docs that it will happen automatically.

[2022-02-25 00:16] rooby opened #147 "Broken link in documentation"
### Is this a regression?

Yes

### Description

At the start of the README it says

This link is broken.

[2022-02-28 10:10] Mohendran opened #148 "valueChanges - emit values only when form gets updated by new values"
### Is this a regression?

No

### Description

Completed the migration work for angular version 12 after that I am facing an issue with valueChanges subscription.  currently, valueChanges triggering when initiating the form. Check the code below.

Expected is valueChanges should not trigger when initiating the form.

form = new FormGroup({
      name: new FormControl('', {
        validators: [

[2022-02-28 10:55] NetanelBasal commented on #148
It's related to material. It works fine https://stackblitz.com/edit/angular-ivy-gszcze?file=src%2Fapp%2Fapp.component.html

[2022-02-28 10:55] #148 closed

[2022-03-03 19:28] Hypenate opened #149 "Unable to set a Date type"
### Is this a regression?

No

### Description

I'm unable to create a FormGroup with a type that contains a Date.

[code]

[code]

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### Please provide the environment you discovered this bug in

[code]

### Anything else?

_No response_

### Do you want t

[2022-03-04 07:40] #147 closed

[2022-03-04 07:41] NetanelBasal commented on #149
https://github.com/ngneat/reactive-forms/issues/109#issuecomment-944007300

[2022-03-04 16:19] Hypenate commented on #149
This indeed seems to work:

[code]

[code]

But it doesn't feel intuative.
I need to update my type to something that doesn't reflect the 'reallity'.

If I update my type to:
[code]

  Then this becomes valid again:
[code]

Which makes a lot more sense, but it's stange that the compiler does not complain about this 🤔

[2022-03-15 08:39] criskrzysiu opened #154 "Angualr 14"
Hi!

To start I would like to say: Great work on the reactive-forms library!

I would like to ask what is the roadmap for this library after Angular 14 with its own typed forms. Are You going to

1. align to their implementation and only add features that are currently available in reactive-forms like enabledWhile(), touch$ (this is also on radar in angular team but probably Angular 15/16? maybe?)

[2022-05-05 14:56] strigefleur opened #158 "Incorrect get method typings"
### Is this a regression?

No

### Description

Docs mention that I can get control by using `get` method:

[code]

Actual result is
[code]

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### Please provide the environment you discovered this bug in

[code]

### Anything else?

_No response_

### Do y

[2022-05-05 15:00] strigefleur opened #159 "Missing get method typings #2"
### Is this a regression?

Yes

### Description

[code]

There's no intellisense when typing in control name as an argument so nothing prevents from entering anything but keys of real model.

It worked back there when it was `getControl` method (~v.1.7).

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

[2022-06-02 09:27] duydnguyen07 opened #162 "FormArray of array element does not work properly"
### Is this a regression?

No

### Description

Version: ^4.1.0

Given the following interface

[code]

When I create a FormGroup from the above interface, the type of positions is determined to be FormGroup instead of FormArray. I expect it to be a FormArray because it's an array, not an object.

const group = new FormGroup<ControlsOf<ShiftPlanTemplate>>({
  positions: new FormArray([
    new For

[2022-06-02 09:35] NetanelBasal commented on #162
You're welcome to create a PR.

[2022-06-08 04:08] CristhianParra opened #163 "Integrate with Angular 14 typed forms"
### Description

Now that https://github.com/angular/angular/issues/13721 was finally solved, I think there's no longer a need for extra typings here, this project will still be useful for the additional helpers provided, but now it should be possible to leverage the type inference part to angular

### Proposed solution

Delete duplicated types files

### Alternatives considered

Keep the types du

[2022-06-09 18:28] undsoft commented on #163
I wonder if we could have a migration to migrate back to Angular forms.

[2022-06-10 13:18] undsoft opened #164 "Support for Angular 14"
### Is this a regression?

No

### Description

Using library in Angular 14 results in:

[code]

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### Please provide the environment you discovered this bug in

_No response_

### Anything else?

_No response_

### Do you want to create a pull request?

Ye

[2022-06-10 13:29] #164 closed

[2022-06-10 13:30] NetanelBasal commented on #163
It's not exactly the same. Angular doesn't have the ControlsOf helper, for example.

[2022-07-01 23:42] johncrim commented on #163
Based on my experience so far, it's easier to migrate from @ngneat/reactive-forms to ng 14 strongly typed forms than it is from ng 13 @angular/forms. Migrating from ng 13 keeps the prior lack of typing, but migrating from reactive-forms keeps the strong typing. I found it useful to replace:

[code]

with

[code]

I'm a fan of the @ngneat projects, but I'm also happy to reduce layers when possible.

[2022-07-12 10:51] maximLyakhov commented on #163
This library developer experience is a more thoughtful than what Angular team done.
Hope they will take this project in consideration somehow.

[2022-08-03 10:27] criskrzysiu opened #166 "FormArray value types incorrect for complex models and few smaller fixes in other method typing"
### Is this a regression?

No

### Description

When we have more complex model like for example

[code]
when we use it for `FormArray` like
[code]
because now we have `value` in `FormArray` typed as `T`  like
[code]
we get `value` typed as
[code]
instead of correct one
[code]
so for it to work correctly we need to use `ValuesOf` interface like in `FormGroup`

Same thing applies to other parts of

[2022-08-03 10:28] criskrzysiu commented on #166
PR on its way

[2022-08-03 11:42] criskrzysiu commented on #166
changes in PR: #167

[2022-08-03 12:59] #166 closed

[2022-08-04 02:28] AKlaus commented on #163
[This post on Medium](https://betterprogramming.pub/how-to-build-a-strongly-typed-angular-14-super-form-86837965a0e5) may share a way to leverage `ControlsOf` with the new Angular strongly-typed forms